@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-product{
    display: flex;
    flex-direction: row;
    width: 610px;
    height: 450px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);

}

.product-img{
    width: 50%;
    height: 450px;
    background-image: url("./images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px 0 0 10px;
}

.product-info{
    width: 50%;
    height: 450px;
    padding: 30px;
}

.product-title h5{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
    margin: 10px 0px 20px 0px;
}

.product-title h1{
    font-family: 'Fraunces', serif;
    line-height: 35px;
    margin-bottom: 20px;
}

.product-desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
}

.product-price{
    display: flex;
    flex-direction: row;

}

.product-price h1{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-bottom: 20px;
}

.product-price p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin: 13px;
}

button{
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

button:hover{
    background-color:  rgb(15, 54, 40);
}

button img{
    margin: 10px;
}

.attribution { 
    font-size: 13px; 
    text-align: center;
    margin-top: 30px;

}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {

    body{
        padding: 100px;
    }
    
    .card-product{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 650px;
    }

    .product-img{
        width: auto;
        background-image: url("./images/image-product-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    .product-info{
        padding: 25px;
        width: inherit;
    }
    
}